body {
  background-color: #faffef;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home-page {
  text-align: center;
}

.movie-details {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.movie-details__actors {
  margin: 1em 0;
  font-variant: small-caps;
  text-align: center;
}

.movie-details__plot {
  text-align: center;
}

.nav {
  text-align: right;
  margin: 1em;
}

.poster {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 1em;
  margin-left: 14em;
  max-width: 1530px;
}

.poster__metadata {
  color: #342;
  display: flex;
  flex-flow: column wrap;
  padding: 1em 0;
}

.search__bar {
  margin-top: 1em;
  text-align: center;
}

.search__bar__input {
  min-width: 300px;
  width: 80%;
}

.search__results {
  height: calc(100vh - 7em);
  margin-top: 1em;
  overflow: auto;
  text-align: center;
}
